#index-body {
    background: url(../images/background_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home-body {
    background: url(../images/background_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home {
    padding-top: 350px;
    padding-bottom: 200px;
}
#content {
    padding-top: 100px;
}

#users-border {
    background: #000;
    opacity: 0.8;
}
hr {
    border-top: 1px solid #EBEBEB;
}

.vl {
    border-left: 1px solid #999999;
    padding-right: 10px;
    height: 40px;
}

#users .form-control::-webkit-input-placeholder {
    color: black;
}

#alert {
    padding-top: 70px;
}