#index-body {
    background: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home-body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home {
    padding-top: 350px;
}
#content {
    padding-top: 100px;
}
#users {
    padding-top: 80px;
}

#users-border {
    background: #000;
    opacity: 0.8;
}
hr {
    border-top: 1px solid white;
}

.vl {
    border-left: 1px solid #999999;
    padding-right: 10px;
    height: 40px;
}